<div class="container py-4">
  <div class="row justify-content-">
    <div class="col-md-7 col-lg-6">
      <h2 class="text mb-4 text-primary fw-bold">
        <i class="bi bi-key-fill"></i> Edit Response Keyword Field
      </h2>
      <form [formGroup]="responseKeywordFieldForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <!-- Response Keyword -->
        <div class="form-group mb-3">
          <label for="responseKeywordID" class="fw-semibold mb-1">Response Keyword</label>
          <input
            id="responseKeywordID"
            class="form-control"
            formControlName="responseKeywordID"
            required
            [value]="getSelectedResponseKeywordName()"
            [ngClass]="{'is-invalid': responseKeywordFieldForm.get('responseKeywordID')?.invalid && responseKeywordFieldForm.get('responseKeywordID')?.touched}"
          />
          <div *ngIf="responseKeywordFieldForm.get('responseKeywordID')?.invalid && responseKeywordFieldForm.get('responseKeywordID')?.touched" class="invalid-feedback">
            Response keyword is required.
          </div>
        </div>

        <!-- Interpreted Response -->
        <div class="form-group mb-3">
          <label for="interpretedResponseID" class="fw-semibold mb-1">Interpreted Response</label>
          <input
            id="interpretedResponseID"
            class="form-control"
            formControlName="interpretedResponseID"
            required
            [value]="getSelectedInterpretedResponseName()"
            [ngClass]="{'is-invalid': responseKeywordFieldForm.get('interpretedResponseID')?.invalid && responseKeywordFieldForm.get('interpretedResponseID')?.touched}"
          />
          <div *ngIf="responseKeywordFieldForm.get('interpretedResponseID')?.invalid && responseKeywordFieldForm.get('interpretedResponseID')?.touched" class="invalid-feedback">
            Interpreted response is required.
          </div>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary" [disabled]="responseKeywordFieldForm.invalid">
            <i class="bi bi-pencil-square me-2"></i>Edit Response Keyword Field
          </button>
        </div>
      </form>
    </div>
  </div>
</div> 