<div class="container py-4">
  <div class="row justify-content">
    <div class="col-md-7 col-lg-6">
      <h2 class="text mb-4 text-primary fw-bold">
        <i class="bi bi-shield-lock"></i> Add New Billing Pro Sec Identification
      </h2>
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
      >
        <div class="form-group mb-3">
          <label for="billingProviderID" class="fw-semibold mb-1"
            >Billing Provider</label
          >
          <app-searchable-dropdown
            [options]="billingProviders"
            [config]="billingProviderDropdownConfig"
            [disabled]="!billingProviders || billingProviders.length === 0"
            [required]="true"
            (selectionChange)="onProviderSelectionChange($event)"
            [ngClass]="{'is-invalid': form.get('billingProviderID')?.invalid && form.get('billingProviderID')?.touched}"
          ></app-searchable-dropdown>
          <div
            *ngIf="form.get('billingProviderID')?.invalid && form.get('billingProviderID')?.touched"
            class="invalid-feedback"
          >
            Billing Provider is required.
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="qualifier" class="fw-semibold mb-1">Qualifier</label>
          <input
            id="qualifier"
            type="text"
            class="form-control"
            formControlName="qualifier"
            required
            [ngClass]="{'is-invalid': form.get('qualifier')?.invalid && form.get('qualifier')?.touched}"
            placeholder="Enter qualifier"
          />
          <div
            *ngIf="form.get('qualifier')?.invalid && form.get('qualifier')?.touched"
            class="invalid-feedback"
          >
            Qualifier is required.
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="value" class="fw-semibold mb-1">Value</label>
          <input
            id="value"
            type="text"
            class="form-control"
            formControlName="value"
            required
            [ngClass]="{'is-invalid': form.get('value')?.invalid && form.get('value')?.touched}"
            placeholder="Enter value"
          />
          <div
            *ngIf="form.get('value')?.invalid && form.get('value')?.touched"
            class="invalid-feedback"
          >
            Value is required.
          </div>
        </div>
        <div class="d-grid">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid"
          >
            <i class="bi bi-plus-circle me-2"></i>Add Billing Pro Sec Identification
          </button>
        </div>
      </form>
    </div>
  </div>
</div> 