<div class="card shadow-sm mb-4">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Payers</h5>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Identification Code</th>
            <th>Subscriber</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th class="text-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (payer of payers; track payer.id) {
            <tr>
              <td>{{ $index + 1 }}</td>
              <td>{{ payer.name }}</td>
              <td>{{ payer.identificationCode }}</td>
              <td>{{ payer.subscriber?.firstName}}</td>
              <td>{{ payer.address1 }}</td>
              <td>{{ payer.address2 }}</td>
              <td>{{ payer.city }}</td>
              <td>{{ payer.state }}</td>
              <td>{{ payer.zipCode }}</td>
              <td class="text-end">
                <button
                  class="btn btn-icon btn-outline-secondary me-1"
                  title="Edit"
                  [routerLink]="['edit', payer.id]"
                >
                  <i class="bi bi-pencil"></i>
                </button>
                <button
                  class="btn btn-icon btn-outline-danger"
                  title="Delete"
                  (click)="openDeleteDialog(payer)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
  <app-confirm-delete-dialog
    *ngIf="showDeleteModal"
    [entityName]="selectedPayer?.name ?? ''"
    title="Delete Payer"
    (closed)="onDeleteDialogClosed($event)">
  </app-confirm-delete-dialog>
